In [1]:
import json

from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import declarative_base

from application import service

with open('conf.json') as f:
    config = json.load(f)
engine = create_engine(config['url'])

Session = sessionmaker(bind=engine)
Base = declarative_base()
Base.metadata.create_all(engine)

session = Session()

service = service.Service(session)

In [28]:
import pandas as pd

from sqlalchemy import select, update
from domain.models import Account, Address, Store, Cart, Product

pd.DataFrame(session.execute(
            select(Account).where(Account.family_account_id == None)
        ).all()).map(lambda x: x.id)

                             Account
0   01a058a8f7a9418a80dc74a134fd0f7b
1   054e45dba5974e4397a3e64d03a5bfe8
2   084d5df0a36a4ff08e56005d610540a0
3   08629ced7c02412ab2ce7282ce526116
4   0917c849c59e4a348eeb50fe649d0949
..                               ...
75  f1835288ca4040c8b766f4b4e31ab36e
76  f20a30bcd63c4ee089c062cc5f3e38d7
77  f62f3336907645479d036f96e344e97c
78  f703a30f783f4d3c89b482e7037f65c9
79  f98501cf56624aabaf3b6db0d4794505

[80 rows x 1 columns]